:root {
  background: $background, $background2;
  background-repeat: repeat-x;
  background-size: 900px 100vh, cover;
  animation: scroll-anim 5s linear infinite;
}
@keyframes scroll-anim {
  to {
    background-position: -900px 0;
  }
}
#main {
  // backdrop-filter: blur(0px);
  position: relative;
  margin: 0 auto;
  max-width: 120rem;
  display: grid;
  grid-template-columns: 10rem 1fr 30rem 1fr 10rem;
  grid-template-rows: 20rem 30rem 40rem;
  grid-template-areas:
    "title title title about about"
    "projects projects tile about about"
    "links project project project buttons";
  @media only screen and (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    > div {
      &#title {
        width: 100%;
      }
      &#about {
        width: 100%;
      }
      &#projects {
        width: 100%;
      }
      &#project {
        width: 100%;
      }
      &#links {
        width: 100%;
        // .inside-box {
        //     flex-direction: row;
        //     justify-content: center
        // }
      }
      &#tile {
        width: calc(50% - 1rem);
      }
      &#buttons {
        width: calc(50% - 1rem);
      }
    }
  }
  $gap: 2rem;
  column-gap: $gap;
  row-gap: $gap;
  padding: $gap;
  > div {
    backdrop-filter: blur(50px);
    border-radius: $border-radius;
    .container {
      $padding-tab: 2px;
      border-radius: $border-radius;
      background: none;
      background-clip: content-box;
      box-shadow: inset 0 0 0 $padding-tab $tab-color;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: $padding-tab;
      .header {
        border-radius: calc($border-radius - $padding-tab)
          calc($border-radius - $padding-tab) 0 0;
        background: $tab-color;
        padding: 0.2rem;
        display: flex;
        justify-content: center;
        position: relative;
        h3 {
          // font-weight: bold;
          font-size: $font-size-smallish;
          color: $text-color;
        }
        .window-buttons {
          display: flex;
          position: absolute;
          left: 0.8rem;
          top: 50%;
          transform: translateY(-50%);
          gap: 0.5rem;
          button {
            $button-size: 10px;
            width: $button-size;
            height: $button-size;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            &.close {
              background: $alert-color;
              &:hover {
                background: darken($alert-color, 20);
              }
            }
            &.minimize {
              background: $warning-color;
              &:hover {
                background: darken($warning-color, 20);
              }
            }
            &.expand {
              background: $good-color;
              &:hover {
                background: darken($good-color, 20);
              }
            }
          }
        }
      }
      .body {
        background: $window-color;
        border-radius: 0 0 calc($border-radius - $padding-tab)
          calc($border-radius - $padding-tab);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 100%;
        h2 {
          font-size: $font-size-large;
        }
      }
    }
  }
  #title {
    grid-area: title;
  }
  #about {
    grid-area: about;
  }
  #projects {
    grid-area: projects;
  }
  #tile {
    grid-area: tile;
  }
  #links {
    grid-area: links;
  }
  #project {
    grid-area: project;
  }
  #buttons {
    grid-area: buttons;
  }
}
