#links {
    .body {
        justify-content: space-around;
        align-items: center;
    }
    a {
        width: 3.5rem;
        max-width: 100%;
        padding: 0rem;
        transition: padding 0.2s ease;
        svg path {
            width: 100%;
            fill: $text-color;
        }
        &:hover {
            // &.github svg path {
            //     fill: #8970af;
            // }
            // &.linkedin svg path {
            //     fill: #3d86cf;
            // }
            // &.instagram svg path {
            //     fill: #fd1d1d;
            // }
            // &.email svg path {
            //     fill: #ecb731;
            // }
            // &.resume svg path {
            //     fill: #79ceb8;
            // }
            padding: 0.2rem;
        }
    }
}
