#projects {
  .body {
    gap: 0;
    h2 {
      margin-bottom: 1rem;
    }
    p {
      cursor: pointer;
      padding: 0.5rem 0;
      margin: 0 -1rem;
      padding: 0.5rem 1rem;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      align-items: center;
      span.project-name {
        position: relative;
      }
      span.new-tag {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%,-50%);
        font-size: $font-size-smallest;
        text-transform: uppercase;
        background: $special-color2;
        padding: 1px 5px;
        border-radius: 4px;
      }
      &:hover,
      &.selected {
        background: $special-color;
        span:not(.tech) {
          color: $text-color-alt;
          // font-weight: bold;
        }
        .tech-container .tech {
          background: $special-color2;
        }
      }
      span {
        white-space: nowrap;
      }
      .tech-container {
        display: flex;
        gap: 1rem;
        span.tech {
          font-size: $font-size-small;
          text-transform: uppercase;
          background: rgba(255, 255, 255, 0.15);
          padding: 1px 5px;
          border-radius: 4px;
        }
      }
    }
  }
}
