$text-color: #d8d8d8;
// $text-color: #2c2c2c;
$text-color-alt: rgb(53, 53, 53);
$background-color: #41a9ee;
$background: url("../assets/blob10.svg");
$background2: url("../assets/blob12.svg");
$tab-color: rgba(255, 255, 255, 0.2);
$window-color: rgba(255, 255, 255, 0);

$special-color: $text-color;

$alert-color: #f34f56;
$warning-color: #fac537;
$good-color: #3aea49;

$border-radius: 5px;

$font-size-mega: 5rem;
$font-size-largest: 4rem;
$font-size-larger: 3rem;
$font-size-large: 2.5rem;
$font-size-largish: 2rem;
$font-size-normal: 1.6rem;
$font-size-smallish: 1.4rem;
$font-size-small: 1.2rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  // font-size: 62.5%;
  font-size: 62.5%;
  h1 {
    font-size: $font-size-mega;
  }
  div,
  p,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  input,
  button,
  label,
  li,
  textarea {
    color: $text-color;
    font-weight: normal;
    font-size: $font-size-normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
